:root {
  --bs-yellow: #ffc107;
  --bs-danger: #dc3545;
}

.titulo{
  background-color: var(--bs-yellow);

  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 6px;
  z-index: 998;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.encabezado{
  font-size: 50px;
  text-align: center;
}

.body-page{
  text-align: center;
}

.body-pages{
  padding: 2rem;
  padding-top: 6rem;
  position: relative;
  top: 120px;
  max-width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

/*-------------------------- SECCION 2 ------------------------*/
.entorno{
  display: flex;
  min-height: 60vh;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  background-color:#232323;
  border:#cdcdcd 20px solid;
}

.ball{
  margin: auto;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: yellow;
}

/*----------------------- BOTTON DE VOLVER AL PRINCIPIO ------------------------------*/
.scroll-top-btn{

  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: yellow;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  border: 0;
  opacity: 1;
  visibility: hidden;
}

.hidden{
  position: fixed;
  bottom: 10px;
  right: 80px;
  visibility: visible;
}
.hidden:hover{
  background-color: #232323;
  color: #ffc107;
}



/*------------------------ MODO OSCURO ----------------------------*/
.modo-oscuro{
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: yellow;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  border: 0;
}
.modo-oscuro:hover{
  background-color: #232323;
}
.oscuro-body{
  background-color:#232323;
}
.titulos-visibles{
  color: #ededed;
}


/* ---------------------- Código del Menu Hamburguesa ---------------------- */

#btn-activator{
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: yellow;
  font-size: 27px;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  border: 0;
  z-index: 999;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#btn-activator:hover{
  background-color:#232323;
}
.panel{
  position: fixed;
  z-index: 998;
  opacity: 80%;
  background-color:#232323;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translate(0,-200%);
  transition: transform 0.9s ease;
  overflow-y: scroll;
}
.panel.is-active{
  transform: translate(0,0);
}
.menu{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.menu a{
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffc107;
  transition: all 0.3 ease;
}
.menu a:hover{
  font-weight: bold;
  color:#ffc107;
  background-color:#ededed;
}


/*------------------------------ RESPONSIVE ---------------------------*/

#video{
  min-height: 30vh;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

#map{
  min-height: 30vh;
  max-width: 50vw;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------- Border Botton  ----------------------------*/

.botton{
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  padding: 12px 20px;
}

/*Quitar las flechas del input type=number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }




/*-----------------------------------------*/


.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  padding-top: 12px;
}

.card img{
  width: 100%;
  height: auto;
}

.card figcaption{
  padding: 1rem;
  background-color: #222;
  color: #ffc107;
}

.filter{
  visibility: hidden;
  order: 1;
}


/* -------------------- Formulario ------------------- */

.resize{
  resize: none;
}
